<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Calendar</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>
<body>
<div class="container my-5
">
    <h2>Calendar</h2>
    <div class="alert alert-light" role="alert">
        Here you can find Band calendar
    </div>
    <hr>
    <a th:href = "@{/api/v1/band/all}" class="btn btn-warning">Back</a>
</div>
</body>
</html>