<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Your band</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>
<body>
<div class="container my-5">
    <h2 class="mb-3">Your band</h2>
    <h3>Here you will see band you've chosen</h3>

    <a th:href="@{/api/v1/band/chose-band}" class="btn btn-primary btn-sm mb-3">Add Band</a>
    <table class="table table-striped table-responsive-md">
        <thead>
        <tr style="text-align: center; color: darkblue; background: lightgray">
            <th><p>ID</p></th>
            <th><p>Name</p></th>
            <th><p>Email</p></th>
            <th><p>City</p></th>
            <th><p>Music Type</p></th>
            <th><p>Availability</p></th>
            <th><p>Actions</p></th>
        </tr>
        </thead>
        <tbody>
        <tr style="text-align: center" th:each="band : ${bands}">
            <td th:text="${band.getId()}"></td>
            <td th:text="${band.getName()}"></td>
            <td th:text="${band.getCity()}"></td>
            <td th:text="${band.getEmail()}"></td>
            <td th:text="${band.getMusic()}"></td>
            <td>
                <a th:href="@{'/api/v1/band/calendar/' + ${band.id}}"
                   class="btn btn-primary btn-sm">Check calendar</a>
            </td>
            <td>
                <a th:href="@{'/api/v1/band/choose-band/' + ${band.id}}"
                   class="btn btn-success btn-sm">Choose</a>

                <a th:href="@{'/api/v1/band/update-band/' + ${band.id}}"
                   class="btn btn-warning btn-sm">Update</a>

                <a th:href="@{'/api/v1/band/delete-band/' + ${band.id}}"
                   class="btn btn-danger btn-sm">Delete</a>
            </td>

        </tr>
        </tbody>
    </table>
    <hr>
    <a th:href = "@{/api/v1/band/all}" class="btn btn-warning">Back</a>
</div>
</body>
</html>